node_modules/
dist/
.vercel

backend/node_modules/
backend/.env
backend/.sql
frontend/node_modules/.vercel
frontend/node_modules/


package-lock.json
package.json
backend/package-lock.json
backend/package.json
frontend/package-lock.json
frontend/package.json